table {
    border-collapse: collapse;
    margin: auto;
}
.table thead th {
    border-bottom: 0;
    padding: 10px;
}
.tableContainer {
    position: relative;
}
#stockContainer {
    width: 50%;
}
.priceHeader {
    border: 1px solid white;
}
.pageHeader {
    text-align: center;
    margin: 20px;
    font-size: larger;
}


/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  #stockContainer {
    width: 80%;
	}
}